USE [master]
GO
/****** Object:  Database [SecureDB]    Script Date: 24.04.2017 09:56:49 ******/
CREATE DATABASE [SecureDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SecureDB', FILENAME = N'F:\Database\SecureDB.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SecureDB_log', FILENAME = N'F:\Database\SecureDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SecureDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SecureDB]
GO
USE [SecureDB]
GO
/****** Object:  Table [dbo].[_bayiler]    Script Date: 24.04.2017 09:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_bayiler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tanim] [varchar](100) NOT NULL,
	[Adres] [varchar](400) NOT NULL,
	[VergiDaire] [varchar](30) NOT NULL,
	[VergiNo] [varchar](30) NOT NULL,
	[Tel] [varchar](20) NOT NULL,
	[Email] [varchar](40) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bayiler]    Script Date: 24.04.2017 09:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bayiler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tanim] [varchar](100) NOT NULL,
	[Adres] [varchar](400) NOT NULL,
	[VergiDaire] [varchar](30) NOT NULL,
	[VergiNo] [varchar](30) NOT NULL,
	[Tel] [varchar](20) NOT NULL,
	[Email] [varchar](40) NULL,
 CONSTRAINT [PK_Bayiler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FaturaDetay]    Script Date: 24.04.2017 09:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaturaDetay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MasterId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[Birim] [varchar](10) NOT NULL,
	[Miktar] [float] NOT NULL,
	[BirimFiyat] [float] NOT NULL,
	[SiparisDetayId] [int] NOT NULL,
 CONSTRAINT [PK_FaturaDetay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FaturaMaster]    Script Date: 24.04.2017 09:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaturaMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [smalldatetime] NOT NULL,
	[BayiId] [int] NOT NULL,
	[Adres] [varchar](400) NOT NULL,
	[VergiDaire] [varchar](30) NOT NULL,
	[VergiNo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_FaturaMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 24.04.2017 09:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KulAdi] [varchar](30) NOT NULL,
	[Sifre] [varchar](20) NOT NULL,
	[Yetki] [int] NOT NULL,
	[BayiId] [int] NOT NULL,
	[Tanim] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Bayi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SiparisDetay]    Script Date: 24.04.2017 09:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MasterId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[Birim] [varchar](10) NOT NULL,
	[Miktar] [float] NOT NULL,
	[BirimFiyat] [float] NOT NULL,
 CONSTRAINT [PK_SiparisDetay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SiparisMaster]    Script Date: 24.04.2017 09:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [smalldatetime] NOT NULL,
	[BayiId] [int] NOT NULL,
 CONSTRAINT [PK_SiparisMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 24.04.2017 09:56:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tanim] [varchar](100) NOT NULL,
	[Birim] [varchar](10) NOT NULL,
	[BirimFiyat] [float] NOT NULL,
	[Marka] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_FaturaDetay]    Script Date: 24.04.2017 09:56:49 ******/
CREATE NONCLUSTERED INDEX [IX_FaturaDetay] ON [dbo].[FaturaDetay]
(
	[MasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FaturaDetay_1]    Script Date: 24.04.2017 09:56:49 ******/
CREATE NONCLUSTERED INDEX [IX_FaturaDetay_1] ON [dbo].[FaturaDetay]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiparisDetay]    Script Date: 24.04.2017 09:56:49 ******/
CREATE NONCLUSTERED INDEX [IX_SiparisDetay] ON [dbo].[SiparisDetay]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiparisDetay_1]    Script Date: 24.04.2017 09:56:49 ******/
CREATE NONCLUSTERED INDEX [IX_SiparisDetay_1] ON [dbo].[SiparisDetay]
(
	[MasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bayiler] ADD  CONSTRAINT [DF_Bayiler_Tanim]  DEFAULT ('') FOR [Tanim]
GO
ALTER TABLE [dbo].[Bayiler] ADD  CONSTRAINT [DF_Bayiler_Adres]  DEFAULT ('') FOR [Adres]
GO
ALTER TABLE [dbo].[Bayiler] ADD  CONSTRAINT [DF_Bayiler_VergiDaire]  DEFAULT ('') FOR [VergiDaire]
GO
ALTER TABLE [dbo].[Bayiler] ADD  CONSTRAINT [DF_Bayiler_VergiNo]  DEFAULT ('') FOR [VergiNo]
GO
ALTER TABLE [dbo].[Bayiler] ADD  CONSTRAINT [DF_Bayiler_Tel]  DEFAULT ('') FOR [Tel]
GO
ALTER TABLE [dbo].[Bayiler] ADD  CONSTRAINT [DF_Bayiler_Email]  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[FaturaDetay] ADD  CONSTRAINT [DF_FaturaDetay_MasterId]  DEFAULT ((0)) FOR [MasterId]
GO
ALTER TABLE [dbo].[FaturaDetay] ADD  CONSTRAINT [DF_FaturaDetay_UrunId]  DEFAULT ((0)) FOR [UrunId]
GO
ALTER TABLE [dbo].[FaturaDetay] ADD  CONSTRAINT [DF_FaturaDetay_Birim]  DEFAULT ((0)) FOR [Birim]
GO
ALTER TABLE [dbo].[FaturaDetay] ADD  CONSTRAINT [DF_FaturaDetay_Miktar]  DEFAULT ((0)) FOR [Miktar]
GO
ALTER TABLE [dbo].[FaturaDetay] ADD  CONSTRAINT [DF_FaturaDetay_BirimFiyat]  DEFAULT ((0)) FOR [BirimFiyat]
GO
ALTER TABLE [dbo].[FaturaDetay] ADD  CONSTRAINT [DF_FaturaDetay_SiparisDetayId]  DEFAULT ((0)) FOR [SiparisDetayId]
GO
ALTER TABLE [dbo].[FaturaMaster] ADD  CONSTRAINT [DF_FaturaMaster_BayiId]  DEFAULT ((0)) FOR [BayiId]
GO
ALTER TABLE [dbo].[FaturaMaster] ADD  CONSTRAINT [DF_FaturaMaster_Adres]  DEFAULT ('') FOR [Adres]
GO
ALTER TABLE [dbo].[FaturaMaster] ADD  CONSTRAINT [DF_FaturaMaster_VergiDaire]  DEFAULT ('') FOR [VergiDaire]
GO
ALTER TABLE [dbo].[FaturaMaster] ADD  CONSTRAINT [DF_FaturaMaster_VergiNo]  DEFAULT ('') FOR [VergiNo]
GO
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Bayi_KulAdi]  DEFAULT ('') FOR [KulAdi]
GO
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Bayi_Sifre]  DEFAULT ('') FOR [Sifre]
GO
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Bayi_Yetki]  DEFAULT ((0)) FOR [Yetki]
GO
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_BayiId]  DEFAULT ((0)) FOR [BayiId]
GO
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_Tanim]  DEFAULT ('') FOR [Tanim]
GO
ALTER TABLE [dbo].[SiparisDetay] ADD  CONSTRAINT [DF_SiparisDetay_MasterId]  DEFAULT ((0)) FOR [MasterId]
GO
ALTER TABLE [dbo].[SiparisDetay] ADD  CONSTRAINT [DF_SiparisDetay_UrunId]  DEFAULT ((0)) FOR [UrunId]
GO
ALTER TABLE [dbo].[SiparisDetay] ADD  CONSTRAINT [DF_SiparisDetay_Birim]  DEFAULT ((0)) FOR [Birim]
GO
ALTER TABLE [dbo].[SiparisDetay] ADD  CONSTRAINT [DF_SiparisDetay_Miktar]  DEFAULT ((0)) FOR [Miktar]
GO
ALTER TABLE [dbo].[SiparisDetay] ADD  CONSTRAINT [DF_SiparisDetay_BirimFiyat]  DEFAULT ((0)) FOR [BirimFiyat]
GO
ALTER TABLE [dbo].[SiparisMaster] ADD  CONSTRAINT [DF_SiparisMaster_BayiId]  DEFAULT ((0)) FOR [BayiId]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_Tanim]  DEFAULT ('') FOR [Tanim]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_Birim]  DEFAULT ('') FOR [Birim]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_BirimFiyat]  DEFAULT ((0)) FOR [BirimFiyat]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_Marka]  DEFAULT ('') FOR [Marka]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_SiparisMaster] FOREIGN KEY([MasterId])
REFERENCES [dbo].[SiparisMaster] ([Id])
GO
ALTER TABLE [dbo].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_SiparisMaster]
GO
USE [master]
GO
