<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    
    <add name="ConnStr" connectionString="Data Source=EXPER-EXPER\SQLEXPRESS;Initial Catalog=SecureDB;Persist Security Info=True;User ID=sa;Password=1234;MultipleActiveResultSets= true" />
  </connectionStrings>
 
</configuration>